<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Create a kitchen made for the way you live" />
		<meta property="og:description" content="At Whirlpool brand, beautiful appliances and real-life messes go hand in hand. Use our Kitchen Design Tool to bring the kitchen you've been imagining to life!" />
		<meta property="og:image" content="images/social-share.jpg" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="629" />
		<meta property="og:url" content="https://whp-designtool-stage-web.arsplatform.com" />
		<meta property="og:site_name" content="Whirlpool" />
		<meta name="twitter:card" content="summary_large_image" />
		<title>Kitchen design tool</title>
		<!-- Adobe DTM Tracking -->
		<script src="//assets.adobedtm.com/e0c459b72b3cd142a7f8fc2af2b510094ec0e7c5/satelliteLib-0c121d68951fce3823c45f1dc8b4bc611883307d-staging.js"></script>
	</head>
	<body style="margin: 0;">
		<link rel="stylesheet" href="style.css?cache=2018-01-09" />
		<div class="showroom" ng-app="Showroom" ng-controller="ShowroomController" ng-class="{kiosk: controls, vertical: vertical}" ng-click="selection.currentMenu = null; selection.share.open = null" ng-cloak>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-show="false">
				<symbol id="icon-logo" viewBox="0 0 1260 399.6"><title>Whirlpool</title><path d="M1238.44,84.16c-12.67,0-21.68-9.48-21.68-22,0-13.26,10-22,21.68-22s21.56,8.78,21.56,22S1250,84.16,1238.44,84.16Zm0-40.24c-9.54,0-17,7.48-17,18.21,0,10,6.48,18.2,17,18.2,9.43,0,16.85-7.42,16.85-18.2S1247.86,43.93,1238.44,43.93Zm-4.36,30.81h-4V50.35h9.25c5.89,0,8.9,2.06,8.9,7,0,4.42-2.71,6.25-6.37,6.66l6.84,10.72h-4.54l-6.31-10.42h-3.77Zm4.47-13.84c3,0,5.66-.29,5.66-3.83,0-2.94-2.89-3.3-5.3-3.3h-4.83v7.13Z"/><path d="M282.92,43.27,221.23,268.7H185.38L141.78,105,97.54,268.7H61.69L0,43.27H35.53L79.45,207,123.69,43.27h35.2L203.47,207,247.39,43.27Z"/><path d="M299.36,43.92,334.89,41V96.24l-.65,20.67h1.3c16.47-6.14,29.71-9,45.86-9,28.75,0,48.12,12.92,48.12,62.33V268.7H394V173.1c0-29.71-14.53-33.58-31-33.58-10.34,0-19.06,2.26-28.1,4.85V268.7H299.36Z"/><path d="M478.27,46.18c18.41,0,21.32,10.66,21.32,22.61s-3.88,22.93-21.32,22.93-21-11-21-22.93S460.51,46.18,478.27,46.18Zm-17.76,63.95H496V268.7H460.51Z"/><path d="M526.06,110.13h24.22L555.13,123h2.26c9.36-8.07,24.22-15.18,43.6-15.18a59.5,59.5,0,0,1,7.42.32v34.88a136.35,136.35,0,0,0-20-1.93c-9.69,0-17.44,2.26-26.81,6.46V268.7H526.06Z"/><path d="M623.59,268.7V43.92L659.12,41V268.7Z"/><path d="M911.65,107.86c50.38,0,69.77,29.71,69.77,82.35,0,49.41-18.09,81.72-70.41,81.72s-70.73-32.3-70.73-81.72C840.28,137.58,861.27,107.86,911.65,107.86Zm33.59,82.35c0-30-4.85-54.57-33.27-54.57-28.74,0-35.85,23.57-35.85,54.57,0,28.74,5.81,53.62,34.24,53.62S945.25,220.25,945.25,190.22Z"/><path d="M1071,107.86c50.38,0,69.77,29.71,69.77,82.35,0,49.41-18.09,81.72-70.41,81.72s-70.73-32.3-70.73-81.72C999.57,137.58,1020.57,107.86,1071,107.86Zm33.59,82.35c0-30-4.85-54.57-33.27-54.57-28.74,0-35.85,23.57-35.85,54.57,0,28.74,5.81,53.62,34.24,53.62S1104.54,220.25,1104.54,190.22Z"/><path d="M1163.72,268.7V43.92L1199.24,41V268.7Z"/><path d="M688.18,110.12H715l2.91,11.63c10.66-5.81,30.35-13.88,48.12-13.88,32.29,0,55.86,23.58,55.86,80.09,0,55.56-24.87,83-66.2,83-15.21,0-32-3.23-32-3.23v72.66l-35.53,3.88Zm35.53,129.19c10,.31,15.5.64,25.83.64,22,0,36.5-11.63,36.5-57.82,0-31.65-12.92-40-36.17-40a80.79,80.79,0,0,0-26.16,4.52Z"/><path fill="#eeb111" d="M864.06,12.69C837.49-18.1,753.19,9,659.12,74.07V90.48C742,31.59,815,4.42,835.92,28.65c26.12,30.26-38.85,129.24-145.13,221S477.14,391.06,451,360.8c-13.56-15.72-2.5-50,26.11-92.1H460.5C425.07,321.54,411.79,365.94,430,387,463.14,425.45,587.2,372.87,707,269.46S897.22,51.12,864.06,12.69Z"/></symbol>

				<symbol id="icon-share" viewBox="0 0 15.64 12.81"><path d="M12.67,7.63a1,1,0,0,0-1,1v2.18H2V3.67H3.33a1,1,0,0,0,0-2H1a1,1,0,0,0-1,1v9.14a1,1,0,0,0,1,1H12.67a1,1,0,0,0,1-1V8.63A1,1,0,0,0,12.67,7.63Z"/><path d="M15.35,2.76,13,.3a1,1,0,0,0-1.38,0,1.05,1.05,0,0,0,0,1.44l.73.76H8.95C5.26,2.5,3.19,5,3.1,7.62v.76a1,1,0,0,0,2,0V7.68C5.16,6.13,6.33,4.5,8.95,4.5h3.34l-.75.78a1.05,1.05,0,0,0,0,1.44,1,1,0,0,0,1.38,0L15.35,4.2A1.05,1.05,0,0,0,15.35,2.76Z"/></symbol>

				<symbol id="icon-shuffle" viewBox="0 0 17.43 13.74"><path d="M16.47,10.94h0l.66-.63-1.86-1.8a1,1,0,0,0-1.44,0,1,1,0,0,0,0,1.39l.06.05h-.1c-1.94,0-3-1.26-4.29-3.09C10.77,5,11.85,3.78,13.79,3.78h.1l-.06.05a1,1,0,0,0,0,1.39,1,1,0,0,0,1.44,0l1.86-1.8-.66-.63h0l.66.63a1,1,0,0,0,0-1.39L15.32.29a1,1,0,0,0-1.44,0,1,1,0,0,0,0,1.39l.11.1h-.2c-2.7,0-4.3,1.67-5.51,3.33C7.06,3.44,5.43,1.78,2.68,1.78H1a1,1,0,0,0,0,2H2.68c2,0,3.12,1.27,4.39,3.08C5.8,8.69,4.69,10,2.68,10H1a1,1,0,1,0,0,2H2.68c2.75,0,4.37-1.66,5.6-3.33C9.5,10.29,11.09,12,13.79,12H14l-.11.1a1,1,0,0,0,0,1.39,1,1,0,0,0,1.44,0l1.81-1.75a1,1,0,0,0,0-1.39Z"/></symbol>

				<symbol id="icon-collapse" viewBox="0 0 11.17 16.59"><path d="M10.17,14.59H1a1,1,0,0,0,0,2h9.17a1,1,0,0,0,0-2Z"/><path d="M10.62,7.23a1.14,1.14,0,0,0-1.49,0L6.57,9.53V1a1,1,0,0,0-2,0V9.57L1.85,7.12a1.14,1.14,0,0,0-1.49,0,.88.88,0,0,0,0,1.34l4.44,4a1.14,1.14,0,0,0,1.49,0l4.32-3.89A.88.88,0,0,0,10.62,7.23Z"/></symbol>

				<symbol id="icon-facebook" viewBox="0 0 5.69 11.88"><path d="M1.18,3.91V2.73A2.83,2.83,0,0,1,1.6.91,2.15,2.15,0,0,1,3.47,0,8.59,8.59,0,0,1,5.69.21L5.41,2a4,4,0,0,0-1-.14c-.49,0-.9.14-.9.63v1.4H5.48L5.34,5.66H3.54v6.22H1.25V5.73H0V3.91Z"/></symbol>

				<symbol id="icon-facebook-circle" viewBox="0 0 23 22.33"><path d="M11.83,0h-.67a11.17,11.17,0,0,0,0,22.33h.67A11.17,11.17,0,0,0,11.83,0Zm2.55,9.14-.14,1.75h-1.8v6.22H10.15V11H8.9V9.14h1.18V8a2.83,2.83,0,0,1,.42-1.82,2.15,2.15,0,0,1,1.87-.91,8.59,8.59,0,0,1,2.22.21l-.28,1.82a4,4,0,0,0-1-.14c-.49,0-.9.14-.9.63v1.4Z"/></symbol>

				<symbol id="icon-twitter" viewBox="0 0 11.73 9.64"><path d="M11.73,1.12a4.58,4.58,0,0,1-1.39.42,2.21,2.21,0,0,0,1-1.33A4,4,0,0,1,9.86.77,2.29,2.29,0,0,0,8.05,0,2.46,2.46,0,0,0,5.69,2.45,1.55,1.55,0,0,0,5.76,3,6.57,6.57,0,0,1,.76.42,2.86,2.86,0,0,0,.42,1.68a2.35,2.35,0,0,0,1.11,2A2.89,2.89,0,0,1,.42,3.42,2.4,2.4,0,0,0,2.36,5.8a1.91,1.91,0,0,1-.62.07,1.35,1.35,0,0,1-.49-.07A2.34,2.34,0,0,0,3.54,7.48a5,5,0,0,1-3,1H0A6.77,6.77,0,0,0,3.75,9.64a6.85,6.85,0,0,0,6.87-6.92V2.38A3.91,3.91,0,0,0,11.73,1.12Z"/></symbol>

				<symbol id="icon-twitter-circle" viewBox="0 0 23 22.33"><path d="M11.83,0h-.67a11.17,11.17,0,0,0,0,22.33h.67A11.17,11.17,0,0,0,11.83,0Zm4.69,9v.35a6.85,6.85,0,0,1-6.87,6.92A6.77,6.77,0,0,1,5.9,15.17h.56a5,5,0,0,0,3-1,2.34,2.34,0,0,1-2.29-1.68,1.35,1.35,0,0,0,.49.07,1.91,1.91,0,0,0,.62-.07,2.4,2.4,0,0,1-1.94-2.38,2.89,2.89,0,0,0,1.11.28,2.35,2.35,0,0,1-1.11-2,2.86,2.86,0,0,1,.35-1.26,6.57,6.57,0,0,0,5,2.59,1.55,1.55,0,0,1-.07-.56A2.46,2.46,0,0,1,14,6.65a2.29,2.29,0,0,1,1.8.77,4,4,0,0,0,1.53-.56,2.21,2.21,0,0,1-1,1.33,4.58,4.58,0,0,0,1.39-.42A3.91,3.91,0,0,1,16.52,9Z"/></symbol>

				<symbol id="icon-exit" viewBox="0 0 14.35 14.34"><path d="M10,7.14l3.72-3.71a2,2,0,0,0,0-2.84,2,2,0,0,0-2.82,0L7.23,4.29,3.65.64A2,2,0,0,0,.78.63a2,2,0,0,0,0,2.88L4.35,7.16.59,10.9a2,2,0,0,0,0,2.84,2,2,0,0,0,2.82,0L7.16,10l3.62,3.68a2,2,0,0,0,2.87,0,2,2,0,0,0,0-2.88Z"/></symbol>

				<symbol id="icon-kitchen-style" viewBox="0 0 24.5 24.5"><rect x="6.5" y="6.5" width="18" height="18"/><polygon points="1 1 18 1 18 5.5 19 5.5 19 0.5 19 0 18.5 0 0.5 0 0 0 0 0.5 0 18.5 0 19 0.5 19 5.5 19 5.5 18 1 18 1 1"/></symbol>

				<symbol id="icon-appliance-style" viewBox="0 0 23 29"><path d="M0,23v6H23V23Zm22,2H1V24H22Z"/><path d="M0,6V22H23V6ZM22,21H1V9H22ZM22,8H1V7H22Z"/><path d="M1,0V5H22V0ZM3,3A1,1,0,1,1,4,2,1,1,0,0,1,3,3ZM6,3A1,1,0,1,1,7,2,1,1,0,0,1,6,3Zm9,0H8V1h7Zm2,0a1,1,0,1,1,1-1A1,1,0,0,1,17,3Zm3,0a1,1,0,1,1,1-1A1,1,0,0,1,20,3Z"/></symbol>

				<symbol id="icon-cabinet-color" viewBox="0 0 26.23 29"><path d="M1,27H25v2H1Z"/><path d="M13.8,0V6.85H26.23V0Zm8.8,3.89h-5v-1h5Z"/><path d="M0,0V6.85H12.43V0ZM8.6,3.89h-5v-1h5Z"/><path d="M0,8V26H12.32V8Zm10.6,6.89h-1v-5h1Z"/><path d="M13.7,8V26H26V8Zm2.9,6.89h-1v-5h1Z"/></symbol>

				<symbol id="icon-backsplash" viewBox="0 0 31.97 30"><path d="M4.84,9.43l4.84,2.75v5.5L4.84,20.43,0,17.68v-5.5Z"/><path d="M16,9.43l4.84,2.75v5.5L16,20.43,11.2,17.68v-5.5Z"/><path d="M10.43,0l4.84,2.75v5.5L10.43,11,5.6,8.25V2.75Z"/><path d="M27.14,9.43,32,12.18v5.5l-4.84,2.75L22.3,17.68v-5.5Z"/><path d="M21.53,0l4.84,2.75v5.5L21.53,11,16.7,8.25V2.75Z"/><path d="M10.43,19l4.84,2.75v5.5L10.43,30,5.6,27.25v-5.5Z"/><path d="M21.53,19l4.84,2.75v5.5L21.53,30,16.7,27.25v-5.5Z"/></symbol>

				<symbol id="icon-countertops" viewBox="0 0 28 28.97"><path d="M14,0,.62,2.8,14,6.53,27.39,2.8Z"/><path d="M0,7.7v-4L13.87,7.57l.13,0,.13,0L28,3.7v4L20,9.93,14,11.6,8,9.93Z"/><path d="M27.39,11.48l-5.28-1.1L14,12.64,5.9,10.38.62,11.48,14,15.21Z"/><path d="M0,12.38v4l8,2.24,6,1.67,6-1.67,8-2.24v-4L14.14,16.25l-.13,0-.13,0Z"/><path d="M27.39,20.17l-5.28-1.1L14,21.32,5.9,19.06.62,20.17,14,23.9Z"/><path d="M0,25.06v-4L14,25l14-3.91v4L14,29Z"/></symbol>

				<symbol id="icon-flooring" viewBox="0 0 38.63 28.65"><polygon points="13.42 10.15 18.04 7.29 18.47 7.02 18.48 7.05 23.03 4.23 20.09 0 10.5 5.94 13.42 10.15"/><polygon points="22.03 12.07 26.94 9.03 27.37 8.76 27.38 8.78 31.63 6.14 28.69 1.91 19.1 7.85 22.03 12.07"/><polygon points="25.26 18.5 15.7 24.42 18.64 28.65 28.2 22.73 25.26 18.5"/><polygon points="16.66 16.59 7.1 22.51 10.04 26.74 19.6 20.82 16.66 16.59"/><polygon points="9.59 6.46 0 12.4 2.94 16.63 12.53 10.69 9.59 6.46"/><polygon points="29.07 22.17 38.63 16.25 35.69 12.02 26.13 17.94 29.07 22.17"/><polygon points="27.1 10.12 22.18 13.17 21.76 13.43 21.75 13.42 17.53 16.03 20.47 20.26 30.03 14.34 27.1 10.12"/><polygon points="21.13 12.6 18.2 8.39 13.59 11.26 13.16 11.52 13.14 11.49 8.6 14.31 11.54 18.54 21.13 12.6"/></symbol>

				<symbol id="icon-options" viewBox="0 0 30.8 8"><path d="M8,4A4,4,0,1,1,4,0,4,4,0,0,1,8,4Z"/><path d="M19.4,4a4,4,0,1,1-4-4A4,4,0,0,1,19.4,4Z"/><path d="M30.8,4a4,4,0,1,1-4-4A4,4,0,0,1,30.8,4Z"/></symbol>

				<symbol id="icon-arrow" viewBox="0 0 14 12"><path d="M9.06.44A1.5,1.5,0,0,0,6.94,2.56L8.88,4.5H1.5a1.5,1.5,0,0,0,0,3H8.87L6.94,9.44a1.5,1.5,0,1,0,2.12,2.12l4.32-4.34a1.52,1.52,0,0,0,.17-2.3Z"/></symbol>

			</svg>
			<div ng-if="::!kitchen && !controls">
				<div class="shade fade" ng-if="selection.step < 2"></div>
				<div class="choose-look fade" ng-if="selection.step == 0">
					<h1 class="intro-heading">Choose your look</h1>
					<p class="intro-subheading">Is your kitchen clean and modern or warm&nbsp;and&nbsp;timeless?</p>
					<ul class="choose-look-list">
						<li ng-repeat="(key, theme) in themes">
							<a href="" ng-click="selection.theme = key; selection.step = 1">
								<img alt="" class="choose-look-image" ng-src="images/{{key}}/swatches/theme.jpg" ng-style="::{'background-color': themeData.color}" />
								<div class="shade"></div>
								<span class="choose-look-text">
									{{theme.name}} Kitchen
									<svg>
										<use xlink:href="#icon-arrow"></use>
									</svg>
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="choose-style fade" ng-if="selection.step == 1">
					<h1 class="intro-heading">Choose your appliance style</h1>
					<p class="intro-subheading">Whatever finish, handle and knobs speak to you, we’ll help <br>ensure your kitchen always says, “Welcome.”</p>
					<div class="choose-style-container">
						<div class="choose-style-columns">
							<div class="choose-style-swatches">
								<div class="choose-style-swatch-group" ng-repeat="(styleKey, style) in styles">
									<h2 ng-bind="style.name"></h2>
									<ul class="choose-style-list">
										<li ng-repeat="(optionKey, option) in style.options">
											{{available = (styleKey != 'handle' || (styles.color.options[selection.applianceStyle.color].handles[optionKey])); ""}}
											<label ng-if="available" ng-class="{selected: selection.applianceStyle[styleKey] == optionKey}">
												<span class="choose-style-swatch-image">
													<span>
														<img alt="" ng-src="images/appliance-style/{{styleKey}}/{{optionKey}}.jpg" />
													</span>
												</span>
												<input type="radio" ng-model="selection.applianceStyle[styleKey]" ng-value="optionKey" />
												<span class="choose-style-name" ng-bind-html="option.name | sanitize"></span>
											</label>
											<div class="label" ng-if="!available" ng-class="{selected: selection.applianceStyle[styleKey] == optionKey}">
												<span class="choose-style-swatch-image">
													<img alt="" ng-src="images/appliance-style/{{styleKey}}/{{optionKey}}.jpg" />
													<span class="choose-style-error">Not available in <br>{{styles.color.options[selection.applianceStyle.color].name}}</span>
												</span>
												<span class="choose-style-name disabled" ng-bind-html="option.name | sanitize"></span>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="choose-style-image">
								<img alt="" class="fade" ng-src="images/appliance-style/examples/{{selection.applianceStyle.color}}-{{selection.applianceStyle.handle}}.png" ng-animate-swap="selection.applianceStyle" />
							</div>
							<div ng-repeat="option in themes[selection.theme].components.a.options" class="choose-style-image-preload">
								<img alt="" ng-repeat="suboption in option.suboptions" ng-src="images/appliance-style/examples/{{option.name | slug}}-{{suboption.slug}}.png" />
							</div>
						</div>
						<a href="" class="choose-style-action" ng-click="initialize()">
							Get Started
							<svg>
								<use xlink:href="#icon-arrow"></use>
							</svg>
						</a>
						<a href="" class="intro-back" ng-click="selection.step = 0">
							<svg>
								<use xlink:href="#icon-arrow"></use>
							</svg>
							Back
						</a>
					</div>
				</div>
			</div>
			<header ng-open="selection.style.open" class="header">
				<h2>Kitchen design tool</h2>
			</header>
			<div class="scene-container" ng-open="selection.style.open"></div>
			<aside class="style fade" ng-open="selection.style.open">
				<div class="style-components">
					<section ng-init="key = 'theme'" ng-open="selection.currentMenu == key">
						<a href="" class="style-menu" ng-click="toggleMenu(key, $event)">
							<svg class="category-icon">
								<use xlink:href="#icon-kitchen-style"></use>
							</svg>
							<h4>Kitchen Style</h4>
						</a>
						<ul class="swatches-1">
							<li ng-repeat="(themeKey, themeData) in ::themes">
								<label title="{{::themeData.name}}" class="swatch" ng-class="{selected: selection.theme == themeKey}"
								ng-click="$event.stopPropagation(); clickWindow($event)">
									<img class="icon-swatch" ng-src="images/{{themeKey}}/swatches/theme.jpg" ng-style="::{'background-color': themeData.color}"
									/>
									<input type="radio" ng-model="selection.theme" ng-value="::themeKey" />
								</label>
								<span class="swatch-tooltip" ng-bind="themeData.name"></span>
							</li>
						</ul>
					</section>
					<section ng-init="key = 'a'; component = scene.orderedComponents.a" ng-open="selection.currentMenu == key">
						<a href="" class="style-menu" ng-click="toggleMenu(key, $event)">
							<svg class="category-icon">
								<use xlink:href="#icon-appliance-style"></use>
							</svg>
							<h4>Appliance Style</h4>
						</a>
						<ul class="swatches-3 primary-menu">
							<li ng-repeat="(optionKey, option) in styles.color.options">
								<label title="{{::option.name}}" class="swatch {{::optionKey}}" ng-class="{selected: selection.applianceStyle.color == optionKey}"
								 ng-click="$event.stopPropagation(); clickWindow($event)">
									<img class="icon-swatch" ng-src="images/appliance-style/color/{{optionKey}}.jpg"
									 ng-style="::{'background-color': option.color}" />
									<input type="radio" ng-model="selection.applianceStyle.color" ng-value="::optionKey" />
									<span class="swatch-tooltip" ng-bind="option.name"></span>
								</label>
							</li>
						</ul>
						<div class="swatch-names">
							<div ng-repeat="(optionKey, option) in styles.color.options" ng-bind="option.name" ng-class="{selected: selection.applianceStyle.color == optionKey}"></div>
						</div>
						<ul class="swatches-1">
							<li ng-repeat="(optionKey, option) in styles.handle.options">
								{{available = (styles.color.options[selection.applianceStyle.color].handles[optionKey]); ""}}
								<label title="{{::option.name}}" class="swatch" ng-if="available" ng-class="{selected: selection.applianceStyle.handle == optionKey}" ng-click="$event.stopPropagation(); clickWindow($event)">
									<img class="icon-swatch" ng-src="images/appliance-style/handle/{{optionKey}}.jpg" ng-style="::{'background-color': option.color}"
									/>
									<input type="radio" ng-model="selection.applianceStyle.handle" ng-value="::optionKey" />
								</label>
								<div class="label" ng-if="!available" ng-class="{selected: selection.applianceStyle.handle == optionKey}">
									<span class="choose-style-swatch-image">
										<img class="icon-swatch" ng-src="images/appliance-style/handle/{{optionKey}}.jpg" ng-style="::{'background-color': option.color}"
										/>
										<span class="choose-style-error">Not available in <br>{{styles.color.options[selection.applianceStyle.color].name}}</span>
									</span>
								</div>
								<span class="swatch-tooltip" ng-class="{disabled: !available}" ng-bind-html="option.name | sanitize"></span>
							</li>
						</ul>
					</section>
					<section ng-repeat="(key, component) in scene.orderedComponents" ng-if="key != 'a'" ng-open="selection.currentMenu == key">
						<a href="" class="style-menu" ng-click="toggleMenu(key, $event)">
							<svg class="category-icon"><use xlink:href="" ng-attr-xlink:href="{{'#icon-' + (component.name | slug)}}"></use></svg>
							<h4 ng-bind="component.name"></h4>
						</a>
						<ul ng-class="{'swatches-3': length(component.options) == 3, 'primary-menu': length(component.options) == 3}">
							<li ng-repeat="(optionKey, color) in component.options">
								<label title="{{::color.name}}" class="swatch {{::color.name | slug}}" ng-class="{selected: selection.components[key] == optionKey}"
								 ng-click="$event.stopPropagation(); clickWindow($event)">
									<img class="icon-swatch" ng-src="images/{{selection.theme}}/swatches/{{component.name | slug}}/{{color.name | slug}}.jpg"
									 ng-style="::{'background-color': color.color}" />
									<input type="radio" ng-model="selection.components[key]" ng-value="::optionKey" />
									<span class="swatch-tooltip" ng-bind="color.name"></span>
								</label>
							</li>
						</ul>
						<div class="swatch-names">
							<div ng-repeat="(optionKey, color) in component.options" ng-bind="color.name" ng-class="{selected: selection.components[key] == optionKey}"></div>
						</div>
					</section>
				</div>
			</aside>
			<ul class="style-actions">
				<li>
					<a href="" ng-if="share" ng-click="selection.share.open = !selection.share.open; $event.stopPropagation()">
						<svg><use xlink:href="#icon-share"></use></svg>
						Share
					</a>
					<ul class="style-actions-menu" ng-if="selection.share.open">
						<li>
							<a ng-href="https://www.facebook.com/sharer.php?u={{selection.share.encoded}}" target="_blank">
								<svg><use xlink:href="#icon-facebook-circle"></use></svg>
								Facebook
							</a>
						</li>
						<li>
							<a ng-href="https://twitter.com/intent/tweet?url={{selection.share.encoded}}" target="_blank">
								<svg><use xlink:href="#icon-twitter-circle"></use></svg>
								Twitter
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="" ng-click="shuffleSelection()">
						<svg>
							<use xlink:href="#icon-shuffle"></use>
						</svg>
						Shuffle
					</a>
				</li>
			</ul>
			<aside class="controls" ng-if="::controls">
				<header>
					<h1>
						<svg><use xlink:href="#icon-logo"></use></svg>
					</h1>
					<h2>Style Your Kitchen</h2>
				</header>
				<section class="appliance">
					<h3>Appliance Finish</h3>
					<ul>
						<li ng-repeat="(color, hex) in ::scene.components.a.options">
							<label>
								<img alt="" ng-src="{{'images/finish/' + (color | slug) + '.png'}}" />
								<div class="title" ng-bind="color"></div>
								<div class="icon-check" ng-if="selection.components.a == color">
									<svg><use xlink:href="#icon-check"></use></svg>
								</div>
								<input type="radio" ng-model="selection.components.a" ng-value="::color" />
							</label>
						</li>
					</ul>
				</section>
				<section class="kitchen">
					<h3>Kitchen Finish</h3>
					<section ng-repeat="(key, component) in ::scene.components" ng-if="key != 'a'">
						<h4 ng-bind="::component.name"></h4>
						<ul>
							<li ng-include="'swatch.html'" ng-repeat="(key, color) in ::component.options"></li>
						</ul>
					</section>
				</section>
			</aside>
			<button class="close" ng-click="selection.step = 0; selection.style.open = null" button-bubble>
				<svg viewBox="0 0 10.68 10.68">
					<path d="M.47,10.21a1.59,1.59,0,0,0,2.25,0L5.34,7.59,8,10.22A1.59,1.59,0,0,0,10.21,8L7.59,5.34l2.62-2.62A1.59,1.59,0,1,0,8,.47L5.34,3.09,2.72.47A1.59,1.59,0,0,0,.47,2.72L3.09,5.34.47,8A1.59,1.59,0,0,0,.47,10.21Z"/>
				</svg>
				Close
			</button>
			<div ng-repeat="(themeKey, theme) in themes" ng-if="scene.resSuffix !== undefined && selection.step == 2">
				<div ng-repeat="component in theme.components">
					<link rel="prefetch" as="image" href="#" ng-repeat="option in component.options" ng-href="images/{{themeKey}}/components/{{component.name | slug}}/{{option.name | slug}}{{scene.resSuffix}}.jpg">
					<link rel="prefetch" as="image" href="#" ng-if="component.mask" ng-href="images/{{themeKey}}/components/{{component.name | slug}}/{{component.mask}}">
					<link rel="prefetch" as="image" href="#" ng-repeat="option in component.options" ng-if="option.mask" ng-href="images/{{themeKey}}/components/{{component.name | slug}}/{{option.mask}}">
				</div>
			</div>
		</div>
		<script type="text/javascript">_satellite.pageBottom();</script>
		<script src="//fast.fonts.net/jsapi/d804a3cf-f713-4016-8f90-f4c1ec514603.js"></script>
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/angular-animate.min.js"></script>
		<script src="scripts/angular-scroll.min.js"></script>
		<script src="scripts/scripts.js?cache=2019-06-12"></script>
	</body>
</html>
