[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

body {
	overflow: hidden;
	background-color: black;
}
.showroom,
.shade,
.choose-look,
.choose-style,
.scene,
.style:before,
.style:after,
.style-components,
.swatch:after,
.controls,
.controls .appliance input,
.controls h1 svg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.showroom {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font: 3px/1.2 "Helvetica Neue LT W01_55 Roman", "Helvetica Neue LT W01_71488914", "Helvetica Neue", Arial, sans-serif;
	text-align: center;
}
.showroom.kiosk {
	max-width: 150vh;
	height: 66.67vw;
	overflow: visible;
}
.showroom.vertical {
	width: 54em;
	width: 100vw;
	max-width: 56.25vh;
	height: 96em;
	height: 177.77vw;
	overflow: hidden;
	background-color: white;
}
.showroom a {
	text-decoration: none;
}
.showroom svg {
	fill: currentColor;
}
.showroom ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.shade {
	z-index: 2;
	background-color: black;
}
.choose-look {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	padding: 30px;
	padding-bottom: 75px;
	color: white;
}
.intro-heading {
	margin: 0;
	font: 40px/1 "Helvetica Neue LT W01_71488914", "Helvetica Bold", "Arial Bold", sans-serif;
}
@media (max-width: 767px), (max-height: 700px) {
	.intro-heading {
		font-size: 30px;
	}
}
.intro-subheading {
	margin: 24px 0 60px;
	height: 46px;
	font-size: 20px;
	line-height: 23px;
}
@media (max-width: 767px), (max-height: 700px) {
	.intro-subheading {
		margin: 20px 0;
		height: auto;
		font-size: 16px;
		line-height: 19px;
	}
}
@media (max-width: 767px), (max-height: 700px) {
	.choose-style .intro-subheading {
		display: none;
	}
}
.choose-look-list {
	display: flex;
	justify-content: center;
	border-radius: 10px;
	width: 100%;
	max-width: 970px;
	height: 504px;
	overflow: hidden;
}
@media (max-width: 767px) {
	.showroom .choose-look-list {
		margin: 0 -10px;
		width: auto;
		height: auto;
	}
}
@media (orientation: portrait) and (max-width: 767px) {
	.showroom .choose-look-list {
		margin: 0;
		flex-direction: column;
		border-radius: 0;
		width: 100%;
	}
}
.choose-look-list li {
	flex: 1;
	display: flex;
	box-sizing: border-box;
	transition: flex .25s;
}
@media (min-width: 768px) {
	.choose-look-list li:first-child {
		justify-content: flex-start;
		border-right: 1px solid white;
	}
	.choose-look-list li:last-child {
		justify-content: flex-end;
		border-left: 1px solid white;
	}
	.choose-look-list li:hover {
		flex: 3;
	}
}
.choose-look-list a {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	z-index: 0;
	overflow: hidden;
	color: inherit;
	font: 14px "Helvetica Neue LT W01_71488914", "Helvetica Bold", "Arial Bold", sans-serif;
}
@media (max-width: 767px) {
	.choose-look-list a {
		justify-content: center;
		margin: 0 10px;
		border-radius: 10px;
	}
	.choose-look-image {
		flex-shrink: 0;
		width: 100%;
	}
}
@media (orientation: portrait) and (max-width: 767px) {
	.choose-look-list a {
		flex-direction: row;
		margin: 20px 0 0;
	}
	.choose-look-image {
		width: auto;
		height: 215px;
	}
}
@media (min-width: 768px) {
	.choose-look-image {
		position: absolute;
		top: 0;
		height: 100%;
		z-index: -1;
	}
	li:first-child .choose-look-image {
		left: 0;
	}
	li:last-child .choose-look-image {
		right: 0;
	}
}
.choose-look-list .shade {
	z-index: 0;
	pointer-events: none;
	opacity: 0;
	transition: opacity .25s;
}
.choose-look-list:hover .shade {
	opacity: .5;
}
.choose-look-list li:hover .shade {
	opacity: 0;
}
.choose-look-text {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 20px;
}
@media (max-width: 767px) {
	.choose-look-text {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.choose-look-text svg {
	margin-left: 8px;
	width: 14px;
	height: 12px;
}
@media (min-width: 768px) {
	.choose-look-text svg {
		display: none;
	}
}
.choose-style {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	padding: 30px;
	color: white;
}
@media (max-width: 767px), (max-height: 700px) {
	.choose-style {
		padding-bottom: 0;
	}
}
.choose-style-container {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 970px;
	max-width: 100%;
	height: 504px;
}
@media (max-width: 767px), (max-height: 700px) {
	.choose-style-container {
		position: static;
		flex: 1;
		width: 100%;
		height: auto;
	}
}
.choose-style-columns {
	flex: 1;
	display: flex;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	background-color: #1a1a1a;
}
@media (max-width: 767px), (max-height: 700px) {
	.choose-style-columns {
		border-radius: 0;
		background-color: transparent;
	}
}
@media (orientation: portrait) and (max-width: 767px) {
	.choose-style-columns {
		flex-direction: column;
	}
}
.choose-style-swatches {
	flex-shrink: 0;
	align-self: center;
	margin: auto;
	padding: 0 35px;
	width: 345px;
}
@media (max-width: 767px), (max-height: 700px) {
	.choose-style-swatches {
		flex-shrink: 1;
		padding: 0;
		width: auto;
		max-width: 315px;
	}
}
@media (orientation: landscape) and (max-width: 767px), (orientation: landscape) and (max-height: 700px) {
	.choose-style-swatches {
		padding-bottom: 30px;
	}
}
@media (max-width: 767px), (max-height: 700px) {
	.choose-style-swatch-group {
		margin-top: 20px;
	}
}
@media (min-width: 768px) {
	.choose-style-swatch-group:not(:first-child) {
		margin-top: 30px;
	}
}
.choose-style-swatches h2 {
	margin: 0 0 20px;
	font: 20px "Helvetica Neue LT W01_71488914", "Helvetica Bold", "Arial Bold", sans-serif;
}
@media (max-width: 767px), (max-height: 700px) {
	.choose-style-swatches h2 {
		margin-bottom: 10px;
		font-size: 16px;
	}
}
.choose-style-swatches ul {
	display: flex;
}
.choose-style-swatches li {
	flex: 1;
	display: flex;
	margin: 0 15px;
	font-size: 13px;
}
@media (max-width: 767px), (max-height: 700px) {
	.choose-style-swatches li {
		margin: 0 10px;
		font-size: 12px;
	}
}
.choose-style-swatches li:first-child {
	margin-left: 0;
}
.choose-style-swatches li:last-child {
	margin-right: 0;
}
.choose-style-swatches label,
.choose-style-swatches .label {
	flex: 1;
	color: inherit;
}
.choose-style-swatches label {
	cursor: pointer;
}
.choose-style-swatches label.selected {
	font-family: "Helvetica Neue LT W01_71488914", "Helvetica Bold", "Arial Bold", sans-serif;
}
.choose-style-swatch-image {
	display: block;
	position: relative;
	margin-bottom: 12px;
}
@media (max-width: 767px), (max-height: 700px) {
	.choose-style-swatch-image {
		margin-bottom: 5px;
	}
}
.style-components .choose-style-swatch-image {
	margin-bottom: 0;
}
.choose-style-swatch-image:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 2px solid transparent;
	border-radius: 10px;
	transition: border-color .25s;
}
.selected .choose-style-swatch-image:after {
	border-color: white;
}
.choose-style-swatch-image img {
	display: block;
	border-radius: 10px;
	width: 100%;
}
.style-components .choose-style-swatch-image:after,
.style-components .choose-style-swatch-image img {
	border-radius: 5px;
}
.choose-style-error {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(34,34,34,.5)
}
.choose-style-swatches input {
	position: absolute;
	top: -9999px;
	display: none;
}
.choose-style-name.disabled,
.swatch-tooltip.disabled {
	opacity: .2;
}
.choose-style-image {
	position: relative;
	margin-top: 30px;
	margin-right: 35px;
	width: 100%;
	max-width: 465px;
}
@media (max-width: 767px), (max-height: 700px) {
	.choose-style-image {
		margin: 0 0 0 30px;
	}
}
@media (orientation: portrait) and (max-width: 767px) {
	.choose-style-image {
		flex: 1;
		margin: 0;
	}
}
.choose-style-image:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 140px;
	background: linear-gradient(rgba(26,26,26,0), #1a1a1a);
}
.choose-style-image img {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
}
.choose-style-image-preload {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}
.choose-style-action {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 10px 10px;
	height: 60px;
	background: white;
	color: black;
	font: 14px "Helvetica Neue LT W01_71488914", "Helvetica Bold", "Arial Bold", sans-serif;
}
@media (max-width: 767px), (max-height: 700px) {
	.choose-style-action {
		position: absolute;
		right: 15px;
		top: 615px;
		margin: auto;
		padding: 0 15px;
		border-radius: 20px;
		height: 40px;
	}
}
@media (orientation: portrait) and (max-width: 767px) {
	.choose-style-action {
		left: 0;
		right: 0;
		margin: auto;
		border-radius: 20px;
		width: 165px;
	}
}
.choose-style-action svg {
	margin-left: 8px;
	width: 14px;
	height: 12px;
}
.intro-back {
	position: absolute;
	left: 0;
	bottom: 100%;
	margin: 0 -15px;
	padding: 15px;
	color: inherit;
	font: 14px "Helvetica Neue LT W01_71488914", "Helvetica Bold", "Arial Bold", sans-serif;
}
@media (max-width: 767px), (max-height: 700px) {
	.intro-back {
		left: 0;
		top: 0;
		bottom: auto;
		margin: 0;
	}
}
.intro-back svg {
	width: 14px;
	height: 12px;
	transform: scale(-1);
}
.fade {
	transition: opacity .5s ease;
	will-change: opacity;
}
.fade.ng-enter-prepare,
.fade.ng-enter:not(.ng-enter-active),
.fade.ng-leave.ng-leave-active {
	opacity: 0;
}
.scene-container {
	flex: 1;
	display: flex;
	position: relative;
	z-index: 0;
	transform: scaleY(-1);
}
.showroom ::-webkit-scrollbar {
	-webkit-appearance: none;
    width: 6px;
	height: 6px;
}
.showroom ::-webkit-scrollbar-thumb {
	background-color: #eeb111;
}
.scene {
	width: 100%;
	transform: scaleY(-1);
	transition-duration: .75s;
}
@media (orientation: portrait) and (max-width: 767px) {
	.scene-container {
		overflow-x: scroll;
		overflow-y: hidden;
	}
	.scene {
		width: auto;
		height: 100%;
	}
}
.style-components {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	top: auto;
	z-index: 1;
	width: 100%;
	max-width: 990px;
	color: white;
	font-size: 15px;
	transition: opacity .5s, transform .5s;
}
@media (orientation: portrait), (max-width: 768px) {
	.style {
		position: relative;
	}
	.style:before {
		content: "";
		right: auto;
		width: 40px;
		background-image: linear-gradient(to right, black, transparent);
		pointer-events: none;
	}
	.style:after {
		content: "";
		left: auto;
		width: 40px;
		background-image: linear-gradient(to left, black, transparent);
		pointer-events: none;
	}
	.style-components {
		position: static;
		justify-content: flex-start;
		align-items: stretch;
		height: 12vh;
		overflow: auto;
	}
	.style-components:before,
	.style-components:after {
		content: '';
		flex-shrink: 0;
		width: 35px;
	}
	.style-components::-webkit-scrollbar {
		display: none;
	}

}
.style-components section {
	position: relative;
	margin: 0 1px;
	width: 16.67%;
	max-width: 145px;
	background-color: rgba(0,0,0,.2);
	transform: translateY(100%);
	transition: background-color .25s, transform .25s;
}
@media (orientation: portrait), (max-width: 768px) {
	.style-components section {
		display: flex;
		position: static;
		margin: 5px;
		min-width: 100px;
		background-color: transparent;
		transform: none;
	}
}
.style-components section + section {
	margin-left: 0;
}
.style-components section:hover,
.style-components section[open] {
	transform: none;
}
@media (orientation: landscape) and (min-width: 769px) {
	.style-components section:hover,
	.style-components section[open],
	.style-components section:hover .style-menu,
	.style-components section[open] .style-menu {
		background-color: rgba(0,0,0,.8);
	}
}
.style-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	padding: 5px;
	border-radius: 10px 10px 0 0;
	height: 75px;
	background-color: rgba(0,0,0,.2);
	color: inherit;
	transition: background-color .25s, color .25s;
}
.style-menu:hover,
.style-menu:focus {
	color: #eeb111;
}
@media (orientation: portrait), (max-width: 768px) {
	.style-menu {
		flex: 1;
		position: static;
		border-radius: 10px;
		height: auto;
		background-color: #222222;
	}
	.style-menu:hover,
	.style-menu:focus {
		background-color: #eeb111;
		color: inherit;
	}
}
.category-icon {
	margin-bottom: 10px;
	width: 32px;
	height: 25px;
	fill: currentColor;
}
@media (max-height: 480px) {
	.category-icon {
		display: none;
	}
}
.style-components h4 {
	margin: 0;
	font-weight: normal;
	font-size: 16px;
	font-family: "Helvetica Neue LT W01_71488914", "Helvetica Bold", "Arial Bold", sans-serif;
}
@media (orientation: portrait), (max-width: 768px) {
	.style-components h4 {
		font-size: 12px;
	}
}
.style-components ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	padding: 0 7.5px;
	opacity: 0;
	pointer-events: none;
	transition: opacity .25s, transform .25s;
}
.style-components section:hover ul,
.style-components section[open] ul {
	opacity: 1;
	pointer-events: auto;
}
@media (orientation: portrait), (max-width: 768px) {
	.style-components ul {
		justify-content: stretch;
		flex-wrap: nowrap;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100%;
		z-index: 1;
		padding: 0 5px;
		background-color: rgba(0,0,0,.8);
	}
	.style-components .primary-menu {
		margin-bottom: 134px;
	}
	.style-components .primary-menu li {
		margin-bottom: 0;
	}
	.style-components .primary-menu ~ ul {
		min-height: 134px;
	}
}
.style-components li {
	margin: 5px;
	width: calc(50% - 10px);
}
@media (orientation: portrait), (max-width: 768px) {
	.style-components li {
		flex: 1;
		margin-top: 10px;
		width: 81px;
	}
}
.swatches-1 li {
	width: auto;
}
.swatches-1 .swatch-tooltip {
	display: block;
	margin: 5px 0;
}
.swatches-1 .selected ~ .swatch-tooltip {
	font-family: "Helvetica Neue LT W01_71488914", "Helvetica Bold", "Arial Bold", sans-serif;
}
@media (orientation: portrait), (max-width: 768px) {
	.swatches-1 .swatch:after,
	.swatches-1 .icon-swatch {
		max-width: 156px;
	}
}
.style-components .swatches-3 {
	padding: 0 10px;
}
@media (min-width: 769px) {
	.swatches-3 li {
		margin: 0 2.5px;
		width: calc(33.33% - 5px);
	}
}
.swatch {
	display: block;
	position: relative;
	cursor: pointer;
}
.swatch:after {
	content: "";
	display: block;
	border: 1px solid #5b5b5b;
	border-radius: 5px;
	transition: border-color .25s;
}
@media (orientation: portrait), (max-width: 768px) {
	.swatch:after {
		bottom: auto;
		max-width: 81px;
		height: 81px;
		box-sizing: border-box;
	}
}
.swatch.selected:after {
	border-width: 2px;
	border-color: white;
}
.swatch:hover:after {
	border-color: #eeb111;
}
.icon-swatch {
	display: block;
	border-radius: 5px;
	width: 100%;
}
@media (orientation: portrait), (max-width: 768px) {
	.icon-swatch {
		margin: auto;
		max-width: 81px;
		height: 81px;
	}
}
.swatch input,
.swatch-tooltip {
	display: none;
}
@media (orientation: portrait), (max-width: 768px) {
	.swatch-tooltip {
		display: block;
		margin: 10px 0 5px;
		font-size: 12px;
	}
	.swatch.selected .swatch-tooltip {
		font-family: "Helvetica Neue LT W01_71488914", "Helvetica Bold", "Arial Bold", sans-serif;
	}
}
.swatch-names {
	display: flex;
	margin: 5px 0 10px;
}
@media (orientation: portrait), (max-width: 768px) {
	.swatch-names {
		display: none;
	}
}
.swatches-3 ~ .swatch-names {
	font-family: "Helvetica Neue LT W01_71488914", "Helvetica Bold", "Arial Bold", sans-serif;
}
.swatch-names div {
	margin-right: -100%;
	width: 100%;
	transition: opacity .25s;
}
.swatch-names div:not(.selected) {
	opacity: 0;
	pointer-events: none;
}
.style-actions {
	position: absolute;
	right: 15px;
	bottom: 10px;
	min-width: 100px;
}
@media (max-width: 1205px) {
	.style-actions {
		top: 10px;
		bottom: auto;
	}
}
@media (max-width: 767px) {
	.style-actions {
		display: flex;
		align-items: stretch;
		top: 0;
		right: 10px;
		height: 8.7vh;
	}
}
.style-actions li {
	display: flex;
	flex-shrink: 0;
	position: relative;
}
.style-actions a {
	flex: 1;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding: 10px 15px;
	font-family: "Helvetica Neue LT W01_71488914", "Helvetica Bold", "Arial Bold", sans-serif;
	color: white;
	font-size: 14px;
	transition: color .25s;
}
@media (max-width: 1205px) {
	.style-actions a {
		color: black;
	}
}
@media (max-width: 767px) {
	.style-actions a {
		padding: 10px;
		color: white;
	}
}
.style-actions a:hover,
.style-actions a:focus {
	color: #eeb111;
}
.style-actions svg {
	flex-shrink: 0;
	margin-left: 10px;
	width: 15px;
	height: 15px;
}
.style-actions-menu {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 50%;
	bottom: 100%;
	z-index: 1;
	margin-bottom: -.5em;
	border-radius: 5px;
	width: 125px;
	background-color: rgba(255,255,255,.9);
	transform: translate(-50%);
	transition: opacity .25s;
}
@media (max-width: 1205px) {
	.style-actions-menu {
		top: 100%;
		bottom: auto;
	}
}
@media (max-width: 767px) {
	.style-actions-menu {
		top: 90%;
	}
}
.style-actions-menu.ng-enter-prepare,
.style-actions-menu.ng-enter:not(.ng-enter-active),
.style-actions-menu.ng-leave.ng-leave-active {
	opacity: 0;
}
.style-actions-menu:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	margin: auto;
	border: solid;
	border-width: 10px 10px 0;
	border-color: rgba(255,255,255,.9) transparent;
	width: 0;
}
@media (max-width: 1205px) {
	.style-actions-menu:after {
		top: auto;
		bottom: 100%;
		border-width: 0 10px 10px;
	}
}
.style-actions-menu a {
	color: black;
}
.style-actions-menu svg {
	flex-shrink: 0;
	margin: -5px -5px -5px 10px;
	width: 25px;
	height: 25px;
}
.controls .appliance input {
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.controls {
	margin: 0 -50em;
	background-color: #fff;
	color: #939393;
	text-transform: uppercase;
}
.controls>* {
	padding: 0 50em;
}
.controls header {
	position: relative;
	height: 25em;
	background-color: #1e1c1c;
}
header h1 {
	margin: 0;
	font-size: 1em;
}
header h1 svg {
	left: 69em;
	right: auto;
	width: 22.2em;
	height: 7em;
	color: #fff;
}
.vertical header h1 svg {
	position: absolute;
	left: 0;
	top: 323em;
	width: 100%;
	height: 10em;
	fill: black;
}
.header,
.header h2 {
	display: none;
}
@media (max-width: 767px) {
	.header {
		display: block;
		height: 8.7vh;
	}
}
.controls .appliance {
	height: 68em;
	background-color: #efeeed;
}
.controls h3 {
	margin: 0 -.09em 0 0;
	padding: 3.13em 0;
	font-weight: normal;
	font-size: 3.2em;
	letter-spacing: .18em;
}
.controls li {
	display: inline;
}
.controls .appliance label,
.controls .kitchen section {
	display: inline-block;
	position: relative;
	width: 22.5%;
}
.controls .appliance img {
	margin-bottom: 5em;
	width: 35em;
}
.controls .appliance .title,
.controls h4 {
	font-size: 2.4em;
	letter-spacing: .18em;
}
.controls .icon-check {
	width: 8.3em;
	height: 8.3em;
	box-shadow: inset .8em .8em 1em rgba(42,57,71,.5);
}
.controls .icon-check svg {
	width: 5.6em;
	height: 3.6em;
}
.controls h4 {
	margin: 0 0 2.08em;
	font-weight: normal;
}
.close {
	position: absolute;
	left: 0;
	right: 0;
	top: 40px;
	margin: auto;
	padding: 0;
	border: 0;
	border-radius: 16px;
	outline: 0;
	width: 85px;
	height: 32px;
	background-color: black;
	color: white;
	font: 14px "Helvetica Neue LT W01_71488914", "Helvetica Bold", "Arial Bold", sans-serif;
	cursor: pointer;
	transition: background-color .25s, opacity .5s, transform .5s;
}
.close svg {
	width: 10px;
	height: 10px;
}
@media (max-width: 767px) {
	.close {
		left: 0;
		right: auto;
		top: 0;
		padding: 0 20px;
		border-radius: 0;
		width: auto;
		height: 8.7vh;
		background-color: transparent;
		font-size: 16px;
	}
	.close svg {
		width: 12px;
		height: 12px;
	}
}

.button-oval__bubble {
	position: absolute;
	z-index: -1;
	border-radius: 50%;
	background-color: #5b5b5b;
	will-change: transform;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 195ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
:hover > .button-oval__bubble,
:focus > .button-oval__bubble {
	transform: translate(-50%, -50%) scale(1);
}
